@import "tailwindcss";
 
/* Classe réutilisable */
/* Style unique réutilisable */
.scrollbar-custom {
  /* Firefox */
  scrollbar-width: thin;                 /* réduit l'épaisseur */
  scrollbar-color: #B52D3A transparent;  /* pouce teal sur track transparent */
}

/* Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

/* Track transparent */
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

/* Pouce (la ligne visible) */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #FF6257;   /* teal-500 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #FF6257;   /* teal-700 */
}

/* Supprimer les flèches */
.scrollbar-custom::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

@keyframes pulseLogo {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes floatingLogo {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}
@keyframes glowEffect {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
@keyframes loaderSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo-animation {
  animation:
    pulseLogo 2s ease-in-out infinite,
    floatingLogo 4s ease-in-out infinite;
}

.glow-animation {
  animation: glowEffect 3s ease-in-out infinite;
}

.loader-animation {
  border: 4px solid white;
  border-top: 4px solid #1B1B1D;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
